/* #sign-in{
    width: 300px;
    height: 50px;
    padding-left: 30px;
    border-radius: 10px;
}
#password{
    width: 300px;
    height: 50px;
    padding-left: 30px;
    border-radius: 10px;
}
.text1{
    padding-left: 30px;
}
.input-text{
    padding-left: 30px;
} */